@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.footer{
    width: 100%;
    background-color: #0d0e0e;
}
.footer .group-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.footer .group-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .group-1 .box figure img{
    width: 200px;
}
.footer .group-1 .box h2{
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    
}
.footer .group-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.footer .group-1 .social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #131927;
    text-align: center;
    transition: all 300ms ease;
}
.footer .group-1 .social a:hover{
    color: aqua;
}
.footer .group-2{
    background-color: #1b1b1b;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.footer .group-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .footer .group-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
